@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Dosis', sans-serif;
}

body{
    font-family: 'Dosis' sans-serif;
    overflow-x: hidden;
}

h3{
    text-align: center;
    font-size: 30px;
    margin: 0;
    padding-top: 10px;

}

a{
    text-decoration: none;

}

.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}

.content{
    width: 20%;
    margin:15px;
    box-sizing: border-box;
    float: left;
    text-align: center;
    border-radius: 20px;
    cursor: pointer;
    padding-top: 10px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    transition: 4s;
    background: #f2f2f2f2;
}

.content:hover{
    box-shadow: 0 3px 6px rgba(0,0,0,0.16)
    0 3px 6px rgba(0,0,0,0.23);
    transform: translate(0px, -8px);
}

.img{
    width: 200px;
    height: 200px;
    text-align: center;
    margin: 0 auto;
    display: block;
    border-radius: 50%;
    border: inset 5px #e3a72f ;
}

p{
    text-align: center;
    color: #b2bec3;
    padding-top: 0 8ox;
}

h6{
    font-size: 26px;
    text-align: center;
    color: #222f3e;
    margin: 0;
}

ul{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0;

}

li{
    padding: 5px;
}

.fa{
    font-size: 20px;
    transition: .4s;

}

.checked{
    color: #ff9f43;
}

.fa:hover{
    transform: scale(1.3);
    transition: .6s;
}

button{
    text-align: center;
    font-size: 20px;
    color: #fff;
    width: 100%;
    padding: 15px;
    border: 0;
    outline: none;
    cursor: pointer;
    margin-right: 15px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;

}

.buy{
    background: #e3a72f;
}

.buy:hover{
    color: #d2d3d5;
    background-color: #222f3e;
}


@media (max-width:1000px) {
    .content{
        width: 45%;
    }    
}
@media (max-width:760px) {
    .content{
        width: 100%;
    }    
}

.slider-frame{
    overflow: hidden;
    height: 800px;
    width: 1200px;
    margin: 20px;
}

@-webkit-keyframes slides_animation{
    0%{left: 0px;}
    10%{left: 0px;}
    20%{left:1200px}
    30%{left:1200px}
    40%{left:2400px}
    50%{left:2400px}
    60%{left:1200px}
    70%{left:1200px}
    80%{left:0px}
    90%{left:0px}
    100%{left:0px}
}

.slider-images{
    width: 100%;
    height: 100vh;
    position: relative;
    -webkit-animation-name: slides_animation;
    -webkit-animation-duration: 33s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    -webkit-animation-play-state: running;
}

.slide-word{
    text-align: center;
    background-image: url(/assets/image/Gallery/258525522_302448278260625_7244515120873649783_n.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    font-size: 10rem;
}



.slider-images .slide-word2{
    text-align: center;
    background-image: url(/assets/image/Gallery/258525522_302448278260625_7244515120873649783_n.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    font-size: 10rem;
    color: #222f3e;
}

.img-container{
    height: 800px;
    width: 1200px;
    position: relative;
    float: left;
}

.gallery-content{
    margin-top: 5rem;
}




.btnScrollToTop {
    position: fixed;
    right:1.5%;
    font-size: 2.5rem;
    color: #e3a72f;
    bottom: 5%;
    width: 50px;
    width: 50px;
    z-index: 99;
}


.img-slider{
    height: 100vh;
    display: flex;
    justify-content: center; 
    align-items: center; 
    background: #1D2128;
    position: relative;
    width: 800px;
    margin: 10px;
    background: #1d212b;
}

.img-slider .slide{
    z-index: 1;
    position: absolute;
    width: 100%;
}

.img-slider .slide img{
    z-index: 1;
    width: 100%;
    border-radius: 5px;
}

.img-slider .slide .info{
    position: absolute;
    top: 0;
    padding: 15px 30px ;
}

.img-slider.slide.info h2{
    color:#fff;
    font-size: 45px;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 2px;
}

.img-slider .slide .info p{
    color: #fff;
    background: rgba(0, 0, 0, 0.1);
    font-size: 16px;
    width: 60%;
    padding: 10px;
    border-radius: 5px;
}

.img-slider .navigation{
    z-index: 2;
    position: absolute;
    display: flex;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
}

.img-slider.navigation .btn{
    background: rgba(255, 255, 255, 0.5);
    width: 12px;
    height: 12px;
    border-radius: 50%;
    cursor: pointer;
    z-index: 5;
}

@media (max-width:820px) {
    .img-slider{
        width: 600px;
        height: 375px;
    }    
    .img-slider .slide .info{
        padding: 10px 25px;
    }
    .img-slider .slide .info h2{
        font-size: 35px;
    }

    .img-slider .slide .info p{
        width: 70%;
        font-size: 15px;
    }
    .img-slider .navigation{
         bottom: 25px;
    }
    .img-slider .navigation .btn{
        width: 10px;
        height: 10px;
        margin: 8px;
    }

}

@media (max-width:425px) {
    header{
        width: 100%;
    }
}





























































































































body {
    overflow-x: hidden;
}



header {
    opacity: 0.9;
    backdrop-filter: blur(6px);
    justify-content: space-between;
    width: 100%;
    padding: 0;
    margin: 0;
    z-index: 100;
}

.container{
    background-color:#262626;
    position: fixed!important;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
}
.another-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 0 auto;
}

.logo {
    width: 135px;
    border-radius: 10px;
}

.logo img{
    width: 100%;
    height: 50%;
    border-radius: 0px 0px 10px 10px;
    opacity: 50;
}


button #header-btn {
    border-radius: 10px;
    text-decoration: none;
    background-color: transparent;
    border: 1px solid #e3a72f;
    padding: 7.5px 10px;
    color: #d2d3d5;
    transition: all ease-in-out 0.5s;
}
button{
    transition: all ease-in-out 0.5s;

    background-color:transparent;
    border: none;
}

button #header-btn:hover{
    background-color: orange;
    color: black;
}
.welcome-text{
    width: 60%;
    margin: 0 auto;
    padding-top: 180px;
    /* background-color: black; */
    /* opacity: 0.9; */
}
.welcome-text > h1{
    color: #d2d3d5;
    text-align: center;
    font-size: 70px;
    line-height: 50px;
    margin: 30px;
    letter-spacing: 2px;
}
.welcome-text p{
    color: #d2d3d5;
    font-size: 20px;
    width: 100%;
    align-items: center;
    text-align: center;
    line-height: 30px;
    margin-top: 50px;
}
.content-btn{
    text-align: center;
    margin-top: 100px;
    gap: 10px;
}
.shop-btn {
    margin-right: 10px;
}
.shop-btn a,
.about-btn a{
    text-decoration: none;
    color:#d2d3d5;
    border: 1px solid #e3a72f;
    padding: 15px 20px;
    border-radius: 7px;
    font-size: 18px;
    transition: all ease-in-out 0.5s;
}

.shop-btn a {
    background-color: #e3a72f;
    transition: all ease-in-out 0.5s;
}

.shop-btn a:hover{
    background-color: transparent;
    border: 1px solid #e3a72f;
    box-shadow: 0px 5px 15px 0px #e3a72f;
}

.about-btn a:hover{
    background-color: #e3a72f;
    box-shadow: 0px 5px 15px 0px #e3a72f;
}
footer {
    background-color:black;
    border-radius:10px 10px 0px 0px;
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    align-items: center;
    background-size: cover;
}
footer .icons{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 20px;
}
.icons {
    width: 30%;
}
.icons li{
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    line-height: 10px;
}
a img{
    width: 50px;
    padding: 5px;
}
/* .material-symbols-outlined { */
  /* font-variation-settings: */
  /* 'FILL' 0, */
  /* 'wght' 400, */
  /* 'GRAD' 0, */
  /* 'opsz' 48 */
/* } */
footer > li {
    list-style: none;
    color: #d2d3d5;
    /* display: flex; */
    /* justify-content: space-between; */
}

.quicklink-word{
    color: #d2d3d5;
    /* text-align: center; */
    margin: 20px;
}

#quicklink-word {
    color: #d2d3d5;
    text-align: center;
    margin: 20px;
    margin-left: 150px;
}

#quicklinks> li >a{
    color: #d2d3d5;
    text-decoration: none;
    margin-left: 140px;
}

.quicklinks li a {
    justify-content: space-around;
    margin-bottom: 50px;
    color: #d2d3d5;
    text-decoration: none;
} 
.quicklinks textarea{
    justify-content: space-around;
    margin-bottom: 10px;
    border-radius: 5px;
    fill: #d2d3d5;
    background-color: #d2d3d5;
    font-family: 'roboto' sans-serif;
    font-size: 12px;
}
.quicklink-word1{
    color: #d2d3d5;
    margin: 10px;
    font-size: large;
}
.comment-btn {
    background-color: #e3a72f;
    color: #d2d3d5;
    text-decoration: none;
    margin-top: 10px;
    border-radius: 5px;
}
.comment-btn {
    margin-top: 5px;
    padding: 10px;
}
textarea #text{
    margin-bottom: 10px;
    padding: 10px;
}
.flex-links {
    display: flex;
    flex-direction: row;
    width: 80%;
    margin: 0 auto;
    justify-content: space-between;
}
 a > .msg-btn{
    position: fixed;
    background-color: #e3a72f;
    bottom: 15px;
    right: 20px;
    width: 70px;
    padding: 15px;
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
    transition: all ease-in-out 0.5s;
 }
 .msg-btn :hover{
    background-color: #d2d3d5;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
}
.copyright{
    color: #d2d3d5;
    text-align: center;
    margin: 5px;
}
.about-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 50px;
}
.abt-word{
    margin: 150px;
}
.abt-image > img{
    border-radius: 10px;
    box-shadow: 0px 0px 20px 5px #d2d3d5;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
.learn-btn{
    margin-top: 30px;
    background-color: #e3a72f;
    box-shadow: 0px 0px 20px 5px #d2d3d5;
    padding: 15px ;
    border-radius: 10px;
}
.learn-btn a{
    text-decoration: none;
    color: #000;
    font-size: 20px;
    transition: all ease-in-out 0.5s;
}
.learn-btn:hover{
    background-color: #d2d3d5;
    box-shadow: 0px 0px 20px 5px #e3a72f;
}
marquee > img{
    width: 50%;
    z-index: 1;
}



@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
.shop{
    background-image: url(/assets/image/Gallery/chevrolet/1.jpg);
    margin: 50px;
    border-radius: 15px;
    background-size: cover;
    width: 90%;
    background-repeat: no-repeat;
    box-shadow: 0px 5px 10px 10px #818181;
}
.shop-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
}
.shoptext{
    color: #d2d3d5;
    margin-top: 200px;
    margin-left: 20px;
}


.button{
    background-color: #e3a72f;
    text-decoration: none;
    padding: 20px;
    position: absolute;
    right: 10%;
    margin-top: 400px;
    border-radius: 5px;
}

.buttonlink{
    text-decoration: none;
    color: #d2d3d5;
}

@media screen and (max-width:1024px) {
    .welcome-text h1{
        position: absolute;
        margin-top: 0.1px;
        top: 150px;
        column-gap: 10px;
    }
    .shop-btn a .learn-btn a{
        margin-top: -10px;
    }
}

@media screen and (max-width:800px) {    

    .menubar{
        display: block;
    }
}


@media screen and (max-width:800px) {
        .welcome-text > p{
                font-size: 18px;
                margin-top: 150px;
        }    
        .msg-btn{
            display: none;
        }
        .welcome-text > h1{
            font-size: 50px;
            margin-top: 40px;
            text-align: center;
            margin-right: 100px;
        }
        header{
            width: 100vw;
        }
        span{
            right: 10%;
            display: block;
        }
        textarea .buttonlink{
            display: none;
        }
        body{
            overflow-x: hidden;
        }
        .about-content {flex-wrap: wrap;
            width: 50vw;
        }
        .abt-image img{
            flex-wrap: wrap;
            width: 70vw;
            margin-right: 500px;

        }
        .shop-btn{
            position: absolute;
            margin-bottom: 50px;
            bottom: -5%;
            left: 2%;
            padding: 2px;
        }
        .about-btn{
            position: absolute;
            bottom: -5%;
            right: 2%;
            margin-bottom: 50px;
        }
        .quicklinks{
            display: none;
        }
        footer{
            width: 100vw;
        }
        .shop-content{
            display: none;
            background: transparent;
        }
        .icons{
            position: relative;
            right: 50px;
        }

       .abt-image img{
        width: 100%;
      
       }
        
        .abt-word > h1 {
            border-radius: 10px;
            padding: 70px;
            line-height: 30px;
          
            flex-wrap: wrap;
            margin: 0 auto;
            width: 100%;
        }
        
        .learn-btn:hover{
            background-color: transparent;
            color: #d2d3d5;
        }
        .learn-btn > a:hover{
            color:white;
        }
}



@media screen and (max-width:450px) {
    .welcome-text > p{
            font-size: 16px;
            margin-top: 150px;
    }    
    .msg-btn{
        display: none;
    }
    .welcome-text > h1{
        font-size: 50px;
        margin-top: 40px;
        text-align: center;
        margin-right: 100px;
    }
    span{
        right: 10%;
        display: block;
    }
    textarea .buttonlink{
        display: none;
    }
    body{
        overflow-x: hidden;
    }
    .about-content {flex-wrap: wrap;
        width: 50vw;
    }
    .abt-image img{
        flex-wrap: wrap;
        width: 70vw;
        margin-right: 500px;

    }
    .shop-btn{
        position: absolute;
        margin-bottom: 50px;
        bottom: -5%;
        left: 2%;
    }

    .shop-btn > a{
        padding: 5px;
    }

.about-btn > a{
    padding: 5px;
}

    .about-btn{
        bottom: -5%;
        right: 2%;
        margin-bottom: 50px;
        padding: 5px 10px;
    }

.abt-image{
    display: none;
}

.abt-word{
    background-image: url("/assets/image/bg/abt-img2.jpg");
    color: white;
    border: 1px solid #e3a72f;
    border-radius: 10px;
    padding: 50px;
    margin: 0 auto;
    flex-wrap: wrap;
    margin-left: 50%;
}

.learn-btn:hover{
    background-color: transparent;
    color: #d2d3d5;
}
.learn-btn > a:hover{
    color:white;
}

.learn-btn{
    padding: 5px;
}

    .quicklinks{
        display: none;
    }
    footer{
        width: 100vw;
    }
    .shop-content{
        display: none;
        background: transparent;
    }
    .icons{
        position: relative;
        right: 50px;
    }
}





.partner{
    background-image: url(/assets/image/bg/background9.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;

}


@media screen and (max-width:1070px) {
    .about-content{
        flex-wrap: wrap;
    }

    .abt-word h1 p{
        text-align: center;
    }

    .abt-image img{
        width: 100%;
        margin: 0 auto;
        display: none;
    }
}